<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="server.home">D:/workspace_git/PRJ_SPRING_WEB/springweb</Property>
		<Property name="console.layout.pattern">%d %5p [%c] %m%n</Property>
		<Property name="file.layout.pattern">%d %5p [%c] %m%n</Property>
		<Property name="rolling.file.name">${server.home}/logs/springweb.log</Property>
		<Property name="rolling.file.pattern">${server.home}/logs/$${date:yyyyMMdd}/springweb_%d{yyyyMMddHH}-%i.log</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${console.layout.pattern}" />
		</Console>
		<RollingFile name="rollingFile" fileName="${rolling.file.name}" filePattern="${rolling.file.pattern}">
			<PatternLayout pattern="${file.layout.pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Logger name="com.bus" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Logger>

		<Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>